
.container{
  display: flex;
  justify-content: center;
  background-color: rgb(247, 238, 227);
    
}


#Imagen{
    margin: 10px;
    display: flex;
}

#inputEmail4{
   width: 500px;
}

#botones{
    margin-top: 10px;
    margin-left: 10px;
}